.body-dron-block3{
    background-color: hsl(200, 7%, 8%);
    width: 1200px;
    height: 4800px;
}
.block-items-power{
    display: flex;
    flex-direction: row;
    margin: 230px -190px 0px 120px;
    gap: 60px;

}
.block5,.block6{
    width: 600px;
    height: 650px;
    background-color: #2a2a2a;
}
.images-power{
   display: flex;
   flex-direction: row;
   margin: -650px 0px 0px  180px;
   gap: 140px;
}
.text-caption-dron-power{
    color: white;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  display: flex;
  gap: 350px;
  flex-direction: row;
  margin: -62px -80px 0px 320px;
}
.show-more-text1{
    display: flex;
    flex-direction: row;
    gap: 600px;
    font-size: 23px;
    margin: 60px 0px 0px 450px;
}
.caption-block-camera3{
    color: white;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 650px 0px 0px 340px;
}
.text-b-m{
    color: white;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  margin: 122px -70px 0px 192px;
}
.table-value-style{
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  margin: 233px 0px 0px 153px;
  text-align: center;
}
